//registry.npmjs.org/:_authToken=4b0242c0-e17d-42d3-b2d2-d01bb995479e
registry=https://registry.npmjs.org/
//npm.pkg.github.com/:_authToken=34869df514690d270342b9d3f25f8629563284d5
registry=https://npm.pkg.github.com